<footer class="footer">
  <div class="container">
    <div class="footer-left">
      <a href="/"><img src="/img/Erekle_Logo.png" alt="Logo" class="logo"></a>
      <p>Erekle Toedten © 2024</p>
    </div>
    
    <div class="footer-center">
      
      <a routerLink="/impressum" rel="noopener noreferrer">{{"FOOTER.IMPRINT" | translate}}</a>
      <span>|</span>
      <a routerLink="/datenschutz" rel="noopener noreferrer">{{"FOOTER.PRIVACY_POLICY" | translate}}</a>
    </div>
    
    <div class="footer-right">
      <a href="https://github.com/Erekle9" target="_blank" rel="noopener noreferrer">GitHub</a>
      <a href="https://www.linkedin.com/in/erekle-toedten-2a6984321/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
      <a routerLink="/impressum" rel="noopener noreferrer" class="phone">{{"FOOTER.IMPRINT" | translate}}</a>
      <a routerLink="/datenschutz" rel="noopener noreferrer" class="phone">{{"FOOTER.PRIVACY_POLICY" | translate}}</a>
    </div>
  </div>
</footer>

  