<div class="about-me-section" id="about-me">
  <div class="about-content">
    
    <div class="about-image">
      <img src="/img/mypicture.png" alt="About Me">
    </div>

    
    <div class="about-right">
      
      <h4>{{"ABOUT.WHO_I_AM" | translate}}</h4>

      <div class="about-text">
        <h2>{{"ABOUT.TITLE" | translate}}</h2>
        <p>
          {{"ABOUT.INTRO" | translate}}
        </p>

        <div class="about-item">
          <img src="/img/location-icon.svg" alt="Location Icon">
          <p>{{"ABOUT.ITEM1" | translate}}</p>
        </div>

        <div class="about-item">
          <img src="/img/cognition.svg" alt="Open Mind Icon">
          <p>{{"ABOUT.ITEM2" | translate}}</p>
        </div>

        <div class="about-item">
          <img src="/img/new_releases.svg" alt="Creative Icon">
          <p>{{"ABOUT.ITEM3" | translate}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

  
