<div class="privacy-page">

    <!-- Privacy Content Section -->
    <section class="privacy-content">
      <h3>{{"PRIVACY_POLICY.TITLE" | translate}}</h3>
      
      <h2>{{"PRIVACY_POLICY.INTRODUCTION_TITLE" | translate}}</h2>
      <p> {{"PRIVACY_POLICY.INTRODUCTION_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.DATA_COLLECTION_TITLE" | translate}}</h2>
      <p>{{"PRIVACY_POLICY.DATA_COLLECTION_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.USE_OF_DATA_TITLE" | translate}}</h2>
      <p>{{"PRIVACY_POLICY.USE_OF_DATA_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.DATA_PROTECTION_TITLE" | translate}}</h2>
      <p>{{"PRIVACY_POLICY.DATA_PROTECTION_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.DISCLAIMER_TITLE" | translate}}</h2>
      <p>{{"PRIVACY_POLICY.DISCLAIMER_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.CHANGES_POLICY_TITLE" | translate}}</h2>
      <p>{{"PRIVACY_POLICY.CHANGES_POLICY_TEXT" | translate}}</p>
  
      <h2>{{"PRIVACY_POLICY.CONTACT_INFORMATION_TITLE" | translate}}</h2>
      <p>
        {{"PRIVACY_POLICY.CONTACT_INFORMATION_TEXT" | translate}}<br>
        <strong>E-Mail:</strong> erekleantidze&#64;gmail.com<br>
        <strong>{{"PRIVACY_POLICY.PHONE" | translate}}:</strong> +49 172 4067956
      </p>
    </section>
  </div>
  
